{erl_opts, [debug_info]}.
{deps, [
    {mysql, ".*", 
        {git, "https://github.com/mysql-otp/mysql-otp", 
        {tag, "1.8.0"}}},
    {jsone, ".*", 
        {git, "https://github.com/sile/jsone.git",
        {tag, "1.9.0"}}}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [vstreamer]}
]}.

{project_plugins, [
    rebar3_lint
]}.